# Dependencies
node_modules/
.pnp/
.pnp.js

# Local env files
.env
.env.local
.env.*.local

# Vite cache
.vite/
vite.config.local.*

# Build output
dist/
build/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / IDE stuff
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Optional: local production preview folder
.temp/
